<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Registrarse como Alumno</h3>
                </div>
                <div class="card-body">
                    <form action="/signup" method="POST">
                        <div class="form-group">
                            <input type="type" name="NoControl" placeholder="Numero de Control" class="form-control" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="username" placeholder="Nombre" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="type" name="fullname" placeholder="Apellidos" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="type" name="email" placeholder="Correo" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="number" min="1" max="12" name="Semestre" placeholder="Semestre" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="type" name="Carrera" placeholder="Carrera" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Contrasena" class="form-control">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Entrar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>