<table class="table table-bordered table-dark">
      <thead>
        <tr align="center">
          <th scope="col" >No.</th>
          <th scope="col" >Clave</th>
          <th scope="col" >C.Materia</th>
          <th scope="col" >Materia</th>
          <th scope="col" >Horario</th>
          <th scope="col" >Días</th>
          <th scope="col" >Profesor</th>
          <th scope="col" >Salón</th>
          <th scope="col" >Salón</th>
          <th scope="col" ><button class="btn btn-outline-secondary" type="button" id="button-addon1">Dar de Alta</button></th>

        </tr>
      </thead>