<table class="table table-bordered table-dark">
      <thead>
        <tr align="center">
          <th scope="col" >No.</th>
          <th scope="col" >Clave</th>
          <th scope="col" >C.Materia</th>
          <th scope="col" >Materia</th>
          <th scope="col" >Horario</th>
          <th scope="col" >Días</th>
          <th scope="col" >Profesor</th>
          <th scope="col" >Salón</th>

        </tr>
      </thead>
      <tbody>

        <tr>
          <th scope="row">1<input type="checkbox"></th>
          <td align="center">5633</td>
          <td align="center">ACA0909</td>
          <td>TALLER DE INVESTIGACIÓN I</td>
          <td>14:05-15:45/14:05-15:45</td>
          <td>Lunes/Miércoles</td>
          <td>ING. MARIN GONZALEZ EUGENIO CONRADO	</td>
          <td align="center">C-D2</td>
          <td align="center"><button class="btn btn-outline-secondary" type="button" id="button-addon1">Inscribir</button></td>
        </tr>

        <tr>
          <th scope="row">2<input type="checkbox"></th>
          <td align="center">5634</td>
          <td align="center">TID1010</td>
          <td>DESARROLLO DE EMPRENDEDORES</td>
          <td>14:05-15:45/14:05-15:45/14:55-15:45</td>
          <td>Miércoles/Jueves/Viernes</td>
          <td>M.C. LINO RAMIREZ CARLOS	</td>
          <td align="center">C-D4</td>
          <td align="center"><button class="btn btn-outline-secondary" type="button" id="button-addon1">Inscribir</button></td>
        </tr>

        <tr>
          <th scope="row">3<input type="checkbox"></th>
          <td align="center">5660</td>
          <td align="center">TIC1028</td>
          <td>TECNOLOGÍAS INALÁMBRICAS</td>
          <td>15:50-17:30/15:50-17:30</td>
          <td>Lunes/Miércoles</td>
          <td>ING. AGUILERA CRUZ JUAN CARLOS	</td>
          <td align="center">C-SC1</td>
          <td align="center"><button class="btn btn-outline-secondary" type="button" id="button-addon1">Inscribir</button></td>
        </tr>

        <tr>
          <th scope="row">4<input type="checkbox"></th>
          <td align="center">5635</td>
          <td align="center">AEB1055</td>
          <td>PROGRAMACIÓN WEB</td>
          <td>15:50-17:30/15:50-17:30/16:40-17:30</td>
          <td>Miércoles/Jueves/Viernes</td>
          <td>ING. LEVY ROJAS CARLOS RAFAEL	</td>
          <td align="center">C-D13</td>
          <td align="center"><button class="btn btn-outline-secondary" type="button" id="button-addon1">Inscribir</button></td>
        </tr>

        <tr>
          <th scope="row">5<input type="checkbox"></th>
          <td align="center">5636</td>
          <td align="center">AEC1061</td>
          <td>SISTEMAS OPERATIVOS I</td>
          <td>17:35-19:15/17:35-19:15</td>
          <td>Lunes/Miércoles</td>
          <td>LIC. RIOS CONSTANTINO MARIA ALICIA	</td>
          <td align="center">C-D15</td>
          <td align="center"><button class="btn btn-outline-secondary" type="button" id="button-addon1">Inscribir</button></td>
        </tr>

        <tr>
          <th scope="row">6<input type="checkbox"></th>
          <td align="center">5637</td>
          <td align="center">TIF1025</td>
          <td>REDES DE COMPUTADORAS</td>
          <td>17:35-19:15/17:35-19:15/18:25-19:15</td>
          <td>Miércoles/Jueves/Viernes</td>
          <td>ING. RAMIREZ MENDEZ JESUS ENRIQUE	</td>
          <td align="center">C-LC4</td>
          <td align="center"><button class="btn btn-outline-secondary" type="button" id="button-addon1" >Inscribir</button></td>
        </tr>
      </tbody>
    </table>